.categories {
    margin-top: 80px;
}
.categories__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 50px 1fr 50px 1fr 50px 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}
.categories__imgs {
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}
.categories__img {
    width: 100%;
    aspect-ratio: 1 / 1;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.categories__img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.categories__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 15px 0 10px;
}
.categories__title {
    font-size: 1.6rem;
    color: rgb(18, 18, 18);
    font-weight: 500;
}
.categories__counter {
    margin-top: 10px;
    font-size: 1.5rem;
    color: rgba(18, 18, 18, 0.75);
}

/* Responsive */

/* Mobile */
@media screen and (max-width: 749px) {
    .categories__grid {
        -ms-grid-columns: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Tablet */
@media screen and (min-width: 750px) and (max-width: 1024px) {
}

/* Desktop */
@media screen and (min-width: 1025px) {
    /* Preserve existing desktop styles */
}
