.not-data {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    background: #fff;
    padding: 20px;
}

.not-data__image {
    width: 200px;
    aspect-ratio: 1/ 1;
    object-fit: cover;
    height: auto;
    margin-bottom: 15px;
    cursor: not-allowed;
}
